.main-wrapper {
    background: rgb(240, 240, 240);
}

html {
    background: rgb(240, 240, 240);
    font-size: 16px;
}

.eduard-text {
    height: 2.8rem;
}

.romanian-flag {
    width: 20px;
    height: 16px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #bebebe;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(131, 131, 131);
    border-radius: 3rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
  }