.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: min(100%, 80rem);
    justify-items: center;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}
