.buton-home {
    position: absolute;
    width: 85px;
    height: 70%;
    background: white;
    border-radius: 30px;
    margin-left: 10px;
    transition: all .6s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
    z-index: 1;
}

.buton-projects {
    position: absolute;
    width: 100px;
    height: 70%;
    background: white;
    border-radius: 30px;
    margin-left: 110px;
    transition: all .6s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
    z-index: 1;
}

.buton-contact {
    position: absolute;
    width: 90px;
    height: 70%;
    background: white;
    border-radius: 30px;
    margin-left: 223px;
    transition: all .6s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
    z-index: 1;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: min(100%, 80rem);
    justify-items: center;
}


