.project-container {
    width: 1120px;
    height: 608px;
    margin-bottom: 32px;
}

.mouse-scroll {
	width: 30px;
	height: 60px;
	border: 3px solid white;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: white;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

.empathy-box {
	border: 2px solid black;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

.project-card:hover .project-description-box {
	display: block !important; 
	opacity: 1 !important; 
}

.project-card:hover .black-overlay {
	height: 100% !important;
}

.project-description-box {
	transition: all;
	transition-duration: 200ms;
	transition-duration: ease-out;
	transition-delay: 50ms;
}

.black-overlay {
	transition: all;
	transition-duration: 200ms;
	transition-duration: ease-out;
	transition-delay: 50ms;
}


@media only screen and (max-width: 1180px) {
	.project-container {
		width: 95%;
		height: 100%;
		margin: auto;
	}
}

@media only screen and (max-width: 500px) {
	.project-container {
		width: 97%;
		height: 100%;
		margin: auto;
	}
}

@media only screen and (max-width: 350px) {
	.project-container {
		width: 100%;
		height: 100%;
		margin: auto;
	}
}

